/* Fonts */
@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.cdnfonts.com/css/Lato");

/* Reset */
@import url('reset.css');

/* Theme */
@import url('theme.css');

/* Elementnts */
@import url('elements/heading.css');
@import url('elements/paragraph.css');


header {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-image: url('../assets/images/bg-mobile-1.png'); 
  background-size: 100%;
  padding: 20px;
}


.CTA {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.paragraph-box {
  padding: 10px;
  background: #f7f7f7;
  border: solid 2px #fff;
}

