.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px 20px;
  background: var(--primary-color);
}

.partners h3 {
  color: #fff;
}

.partner-logos {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.footnotes {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 50px 20px;
}

.footnotes p {
  font-size: var(--text-small);
  padding: 5px;
}

.licence {
  font-weight: var(--bold);
}

@media (min-width: 768px) {
  .partner-logos {
    gap: 60px;
  }

  .footnotes {
    gap: 100px;
  }
}
