.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  gap: 80px;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/images/bg-mobile.png');
  background-color: #fff;
  background-size: 100%;
  padding: 20px;
  z-index: 20;
}

.mobile-menu .close-icon {
  align-self: flex-end;
  width: 40px;
}

.mobile-menu__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.mobile-menu__items li > a {
  color: var(--primary-color);
  text-decoration: none;
  font: var(--text-medium) var(--primary-font-family);
  font-weight: var(--normal);
}
