.social-links {
  display: none;
}

.logo {
  display: none;
}

.pagelinks-desktop {
  display: none;
}

.nav-CTA {
  display: none;
}


/* Mobile navigation with close icon */
.pagelinks-mobile{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  gap: 80px;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/images/bg-mobile.png');
  background-color: #fff;
  background-size: 100%;
  padding: 20px;
  z-index: 20;
}

.close-icon {
  align-self: flex-end;
  width: 40px;
}

.pagelinks-mobile__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pagelinks-mobile__items  a {
  color: var(--primary-color);
  text-decoration: none;
  font: var(--text-medium) var(--primary-font-family);
  font-weight: var(--normal);
}



@media (min-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px var(--tartiary-color);
    background: #fff;
  }

  .social-links {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;
    color: #fff;
    padding:  10px 15%;
    background-color: var(--primary-color);
  }

  .social-links a {
    font: var(--text-small) var(--primary-font-family);
    text-decoration: none;
    color: #fff;
  }

  .pagelinks {
    display: flex;
    padding: 10px 15%; 
  }

  .logo {
    display: block;
    width: 40px;
    height: 40px;
  }

  .pagelinks .hamburger-icon {
    display: none;
  }

  .pagelinks-desktop {
    display: flex;
    justify-content: right;
    column-gap: 30px;
    flex-grow: 4;
    padding: 0 30px;
  }

  .nav-CTA {
    display: block;
    border-width: 4px;
  }

  .nav-CTA:hover {
    background: var(--secondary-color);
    color: #fff;
  }
}

