.button--primary {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #ff4f38;
  padding: 20px 60px;
  color: #fff;
  text-decoration: none;
  font: var(--text-medium) var(--primary-font-family);
  font-weight: var(--bold);
}

.button--secondary {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 10px 60px;
  color: var(--primary-color);
  text-decoration: none;
  font: var(--text-medium) var(--primary-font-family);
  font-weight: var(--bold);
  border: solid 1px var(--tartiary-color);
}



@media (min-width: 768px) {
  .button--primary {
    background: #fff;
    color: var(--secondary-color);
    border: solid 1px var(--secondary-color);
    padding: 10px;
    width: fit-content;
    font-size: var(--text-small);
    font-weight: var(--bold);
    }

  .button--secondary {
    width: fit-content;
    padding: 10px;
    background: transparent;
    border: none;
    font-size: var(--text-small);
    font-weight: var(--bold);
  }

  .button--secondary:hover {
    color: var(--secondary-color);
    font-size: var(--text-small);
  }


}
