.heading--main {
	color: var(--secondary-color);
	font-family: var(--secondary-font-family);	
	font-weight: var(--xtra-bold);
	font-size: var(--text-x-large);
}

.heading--secondary {
	color: var(--primary-color);
	font-family: var(--primary-font-family);	
	font-weight: 600;
}

.heading-quote {
	color: var(--secondary-color);
	font-family: var(--primary-font-family);
	font-weight: var(--normal);
	font-size: var(--text-large);
}

