.underline {
	position: relative;
}

.underline:after {
	content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -15px;
    width: 40px;
    height: 1px;
    background: var(--secondary-color);
}